openapi: 3.1.0
info:
  title: AgentAuth API
  version: 0.7.0
  description: |
    **AgentAuth** is a production-ready authentication and identity service for AI agents.

    ## Features
    - JWT-based authentication
    - Rate limiting (100 req/15min general, 10 req/15min auth)
    - Webhooks for events
    - Activity logging
    - Permission-based access control
    - **Persona System** — define and manage an agent's digital soul (v0.7.0)
    - **ZKP Anonymous Verification** — prove identity without revealing credentials (v0.7.0)
    - **Anti-Drift Vault** — detect behavioral drift and auto-revoke rogue agents (v0.7.0)

    ## Authentication
    Most endpoints require an API key in the `X-Api-Key` header:
    ```
    X-Api-Key: ag_sk_your_api_key_here
    ```

    ## Rate Limits
    - **General endpoints**: 100 requests per 15 minutes
    - **Authentication endpoints**: 10 requests per 15 minutes

    Rate limit info is included in response headers:
    - `X-RateLimit-Limit`: Max requests allowed
    - `X-RateLimit-Remaining`: Requests remaining
    - `X-RateLimit-Reset`: Time until limit resets (Unix timestamp)

    ## Base URL
    - **Production**: `https://api.agentauth.dev`
    - **Local**: `http://localhost:3000`

  contact:
    name: AgentAuth Support
    email: umytbaynazarow754@gmail.com
    url: https://agentauth.dev
  license:
    name: MIT
    url: https://github.com/umyt-dev/Agent-Identity/blob/main/LICENSE

servers:
  - url: https://api.agentauth.dev
    description: Production server
  - url: http://localhost:3000
    description: Local development

tags:
  - name: Health
    description: Health check endpoints
  - name: Agents
    description: Agent registration, verification, and management
  - name: Persona
    description: |
      Persona ("Soul Layer") — define, version, and cryptographically sign an agent's
      behavioral identity. Includes HMAC-SHA256 integrity verification, version history,
      and ZIP export/import.
  - name: ZKP
    description: |
      Zero-Knowledge Proof anonymous verification. Agents can prove they hold valid
      credentials without revealing their identity. Supports Groth16 proof mode and
      fast hash-based mode.
  - name: Drift
    description: |
      Anti-Drift Vault — monitor agent behavioral metrics over time, detect drift from
      baseline, fire warnings, and auto-revoke agents that exceed thresholds.
  - name: Webhooks
    description: Webhook configuration and delivery tracking

paths:
  # ─── Health ──────────────────────────────────────────────────────────────────
  /health:
    get:
      summary: Health check
      description: Check API health status and database connectivity
      operationId: getHealth
      tags:
        - Health
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
              example:
                status: healthy
                service: AgentAuth API
                version: 0.7.0
                timestamp: '2026-02-01T12:00:00.000Z'
                checks:
                  database: healthy
        '503':
          description: Service is unhealthy or degraded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
              example:
                status: unhealthy
                service: AgentAuth API
                version: 0.7.0
                timestamp: '2026-02-01T12:00:00.000Z'
                checks:
                  database: unhealthy

  # ─── Agents ──────────────────────────────────────────────────────────────────
  /v1/agents/register:
    post:
      summary: Register a new agent
      description: |
        Register a new AI agent and receive an API key for authentication.

        **Important:** The API key is only shown once. Save it securely!

        **Rate limit:** 10 requests per 15 minutes
      operationId: registerAgent
      tags:
        - Agents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentRegistrationRequest'
            example:
              name: CustomerSupportAgent
              owner_email: admin@company.com
              permissions:
                - read:messages
                - write:responses
              tier: free
      responses:
        '201':
          description: Agent registered successfully
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentRegistrationResponse'
              example:
                agent_id: ag_1a2b3c4d5e6f
                name: CustomerSupportAgent
                owner_email: admin@company.com
                api_key: ag_sk_1a2b3c4d5e6f7g8h9i0j
                tier: free
                permissions:
                  - read:messages
                  - write:responses
                created_at: '2026-02-01T12:00:00.000Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/agents/verify:
    post:
      summary: Verify agent credentials
      description: |
        Verify agent credentials (agent_id + API key) and receive agent details.

        **Rate limit:** 10 requests per 15 minutes
      operationId: verifyAgent
      tags:
        - Agents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentVerificationRequest'
            example:
              agent_id: ag_1a2b3c4d5e6f
              api_key: ag_sk_1a2b3c4d5e6f7g8h9i0j
      responses:
        '200':
          description: Agent verified successfully
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentVerificationResponse'
              example:
                valid: true
                agent_id: ag_1a2b3c4d5e6f
                name: CustomerSupportAgent
                tier: free
                permissions:
                  - read:messages
                  - write:responses
                status: active
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/agents:
    get:
      summary: List all agents
      description: |
        List all registered agents with pagination.

        **Note:** This endpoint may require admin authentication in future versions.
      operationId: listAgents
      tags:
        - Agents
      parameters:
        - name: limit
          in: query
          description: Maximum number of agents to return
          required: false
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 100
        - name: offset
          in: query
          description: Number of agents to skip (for pagination)
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
        - name: status
          in: query
          description: Filter by agent status
          required: false
          schema:
            type: string
            enum: [active, inactive, suspended]
      responses:
        '200':
          description: List of agents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentListResponse'
              example:
                agents:
                  - agent_id: ag_1a2b3c4d5e6f
                    name: CustomerSupportAgent
                    owner_email: admin@company.com
                    tier: free
                    status: active
                    created_at: '2026-02-01T12:00:00.000Z'
                total: 1
                limit: 50
                offset: 0
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/agents/{agent_id}:
    get:
      summary: Get agent details
      description: Retrieve detailed information about a specific agent
      operationId: getAgent
      tags:
        - Agents
      parameters:
        - $ref: '#/components/parameters/AgentId'
      responses:
        '200':
          description: Agent details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      summary: Delete agent
      description: Permanently delete an agent
      operationId: deleteAgent
      tags:
        - Agents
      parameters:
        - $ref: '#/components/parameters/AgentId'
      responses:
        '200':
          description: Agent deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
              example:
                success: true
                message: Agent deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/agents/{agent_id}/tier:
    put:
      summary: Update agent tier
      description: Update the pricing tier for an agent
      operationId: updateAgentTier
      tags:
        - Agents
      parameters:
        - $ref: '#/components/parameters/AgentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - tier
              properties:
                tier:
                  type: string
                  enum: [free, pro, enterprise]
            example:
              tier: pro
      responses:
        '200':
          description: Tier updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  agent_id:
                    type: string
                  tier:
                    type: string
                  updated_at:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/agents/{agent_id}/status:
    put:
      summary: Update agent status
      description: Activate, deactivate, or suspend an agent
      operationId: updateAgentStatus
      tags:
        - Agents
      parameters:
        - $ref: '#/components/parameters/AgentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              properties:
                status:
                  type: string
                  enum: [active, inactive, suspended]
            example:
              status: suspended
      responses:
        '200':
          description: Status updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  agent_id:
                    type: string
                  status:
                    type: string
                  updated_at:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/agents/{agent_id}/permissions:
    put:
      summary: Update agent permissions
      description: Update the permission scopes for an agent
      operationId: updateAgentPermissions
      tags:
        - Agents
      parameters:
        - $ref: '#/components/parameters/AgentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - permissions
              properties:
                permissions:
                  type: array
                  items:
                    type: string
                  example:
                    - read:messages
                    - write:responses
                    - delete:messages
      responses:
        '200':
          description: Permissions updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  agent_id:
                    type: string
                  permissions:
                    type: array
                    items:
                      type: string
                  updated_at:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/agents/{agent_id}/activity:
    get:
      summary: Get agent activity logs
      description: Retrieve authentication and activity logs for an agent
      operationId: getAgentActivity
      tags:
        - Agents
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - name: limit
          in: query
          description: Maximum number of logs to return
          required: false
          schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 500
        - name: offset
          in: query
          description: Number of logs to skip
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        '200':
          description: Activity logs
          content:
            application/json:
              schema:
                type: object
                properties:
                  logs:
                    type: array
                    items:
                      $ref: '#/components/schemas/ActivityLog'
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ─── Persona (Soul Layer) ────────────────────────────────────────────────────
  /v1/agents/{agent_id}/persona:
    post:
      summary: Register persona
      description: |
        Register a new persona (digital soul) for an agent. The persona is signed
        with HMAC-SHA256 using the agent's API key, creating a tamper-proof identity.

        Fires a `persona.created` webhook event.
      operationId: registerPersona
      tags:
        - Persona
      parameters:
        - $ref: '#/components/parameters/AgentId'
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonaRegistrationRequest'
            example:
              persona:
                version: '1.0.0'
                personality:
                  traits:
                    helpfulness: 0.9
                    formality: 0.7
                guardrails:
                  toxicity_threshold: 0.3
                  hallucination_tolerance: strict
                constraints:
                  forbidden_topics:
                    - politics
                    - religion
                  max_response_length: 2000
      responses:
        '201':
          description: Persona registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonaResponse'
              example:
                agent_id: ag_1a2b3c4d5e6f
                persona_version: '1.0.0'
                persona_hash: a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2
                created_at: '2026-02-01T12:00:00.000Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: Persona already exists for this agent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: Conflict
                message: Persona already registered. Use PUT to update.
        '413':
          description: Persona exceeds 10KB size limit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: Payload Too Large
                message: Persona validation failed
        '500':
          $ref: '#/components/responses/InternalServerError'

    get:
      summary: Get persona
      description: |
        Retrieve the current persona for an agent. Supports ETag-based caching
        via `If-None-Match` header.

        Add `?include_prompt=true` to include the auto-generated system prompt.
      operationId: getPersona
      tags:
        - Persona
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - name: include_prompt
          in: query
          description: Include generated system prompt template
          required: false
          schema:
            type: boolean
            default: false
        - name: If-None-Match
          in: header
          description: ETag from a previous response for conditional caching
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Persona retrieved
          headers:
            ETag:
              description: Hash-based ETag for caching
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonaFullResponse'
              example:
                agent_id: ag_1a2b3c4d5e6f
                persona:
                  version: '1.0.0'
                  personality:
                    traits:
                      helpfulness: 0.9
                      formality: 0.7
                persona_version: '1.0.0'
                persona_hash: a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2
                prompt: 'You are an AI agent with the following persona...'
        '304':
          description: Not modified (ETag match)
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    put:
      summary: Update persona
      description: |
        Update an existing persona. The version is auto-bumped (minor) unless a
        higher explicit version is provided. Fires a `persona.updated` webhook.
      operationId: updatePersona
      tags:
        - Persona
      parameters:
        - $ref: '#/components/parameters/AgentId'
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonaRegistrationRequest'
      responses:
        '200':
          description: Persona updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonaResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/agents/{agent_id}/persona/verify:
    post:
      summary: Verify persona integrity
      description: |
        Re-compute the HMAC-SHA256 hash of the stored persona and compare it with
        the stored hash. Detects any tampering of the persona data at rest.
      operationId: verifyPersonaIntegrity
      tags:
        - Persona
      parameters:
        - $ref: '#/components/parameters/AgentId'
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Integrity check result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonaVerifyResponse'
              example:
                valid: true
                reason: Hash matches stored persona
                agent_id: ag_1a2b3c4d5e6f
                persona_version: '1.0.0'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/agents/{agent_id}/persona/history:
    get:
      summary: Get persona version history
      description: |
        Retrieve the version history of persona changes for an agent.
        Supports pagination and CSV export via `?format=csv`.
      operationId: getPersonaHistory
      tags:
        - Persona
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - name: limit
          in: query
          description: Maximum entries to return
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: offset
          in: query
          description: Number of entries to skip
          schema:
            type: integer
            default: 0
            minimum: 0
        - name: format
          in: query
          description: Response format
          schema:
            type: string
            enum: [json, csv]
            default: json
      responses:
        '200':
          description: Persona version history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonaHistoryResponse'
              example:
                history:
                  - id: 1
                    persona_version: '1.1.0'
                    persona_hash: a1b2c3d4...
                    changed_at: '2026-02-01T14:00:00.000Z'
                  - id: 0
                    persona_version: '1.0.0'
                    persona_hash: e5f6a1b2...
                    changed_at: '2026-02-01T12:00:00.000Z'
                total: 2
            text/csv:
              schema:
                type: string
              example: |
                version,hash,changed_at
                1.1.0,a1b2c3d4...,2026-02-01T14:00:00.000Z
                1.0.0,e5f6a1b2...,2026-02-01T12:00:00.000Z
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/agents/{agent_id}/persona/export:
    get:
      summary: Export persona bundle
      description: |
        Download a ZIP archive containing the persona JSON, metadata, and
        integrity hash. Useful for backup or importing to another agent.
      operationId: exportPersona
      tags:
        - Persona
      parameters:
        - $ref: '#/components/parameters/AgentId'
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Persona bundle ZIP
          content:
            application/zip:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/agents/{agent_id}/persona/import:
    post:
      summary: Import persona bundle
      description: |
        Import a persona from a previously exported bundle. The persona
        will be re-signed with the target agent's API key.
      operationId: importPersona
      tags:
        - Persona
      parameters:
        - $ref: '#/components/parameters/AgentId'
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                bundle:
                  type: string
                  format: binary
                  description: ZIP file from persona export
      responses:
        '201':
          description: Persona imported successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonaResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ─── ZKP Anonymous Verification ──────────────────────────────────────────────
  /v1/zkp/register-commitment:
    post:
      summary: Register ZKP commitment
      description: |
        Generate and store a SHA-256 commitment for anonymous verification.
        Requires valid agent credentials (agent_id + api_key in body).

        The returned `salt` is only shown once. Store it securely.
      operationId: registerCommitment
      tags:
        - ZKP
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommitmentRegistrationRequest'
            example:
              agent_id: ag_1a2b3c4d5e6f
              api_key: ag_sk_1a2b3c4d5e6f7g8h9i0j
              expires_in: 86400
      responses:
        '201':
          description: Commitment registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitmentRegistrationResponse'
              example:
                commitment: a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2
                salt: f1e2d3c4b5a6f1e2d3c4b5a6f1e2d3c4b5a6f1e2d3c4b5a6f1e2d3c4b5a6f1e2
                expires_at: '2026-02-02T12:00:00.000Z'
                message: Store the salt securely — it will not be shown again.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/zkp/verify-anonymous:
    post:
      summary: Verify anonymously
      description: |
        Verify a commitment without revealing agent identity.

        **Hash mode** (`?mode=hash`): Provide `preimage_hash` — the SHA-256 of
        `agentId:apiKey:salt`. Fast, no cryptographic proof required.

        **ZKP mode** (`?mode=zkp`, default): Provide a Groth16 proof and
        publicSignals. The first public signal must equal the commitment.
      operationId: verifyAnonymous
      tags:
        - ZKP
      parameters:
        - name: mode
          in: query
          description: Verification mode
          required: false
          schema:
            type: string
            enum: [zkp, hash]
            default: zkp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/ZKPVerificationRequest'
                - $ref: '#/components/schemas/HashVerificationRequest'
            examples:
              zkp_mode:
                summary: ZKP mode with Groth16 proof
                value:
                  commitment: a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2
                  proof:
                    pi_a: ['0x1234...', '0x5678...', '1']
                    pi_b: [['0xabcd...', '0xef01...'], ['0x2345...', '0x6789...']]
                    pi_c: ['0xaaaa...', '0xbbbb...', '1']
                  publicSignals:
                    - a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2
              hash_mode:
                summary: Hash mode with preimage
                value:
                  commitment: a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2
                  preimage_hash: abcd1234abcd1234abcd1234abcd1234abcd1234abcd1234abcd1234abcd1234
      responses:
        '200':
          description: Verification result
          headers:
            Cache-Control:
              description: no-store to prevent caching of verification results
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnonymousVerificationResponse'
              examples:
                valid:
                  value:
                    valid: true
                    reason: Commitment verified via hash mode
                    permissions:
                      - read
                      - write
                    tier: pro
                invalid:
                  value:
                    valid: false
                    reason: Preimage hash does not match commitment
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/zkp/commitment/{commitment}:
    delete:
      summary: Revoke commitment
      description: Mark a commitment as revoked so it can no longer be used for verification.
      operationId: revokeCommitment
      tags:
        - ZKP
      parameters:
        - name: commitment
          in: path
          description: The commitment hex string to revoke
          required: true
          schema:
            type: string
            pattern: '^[0-9a-f]{64,256}$'
      responses:
        '200':
          description: Commitment revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  commitment:
                    type: string
                  status:
                    type: string
              example:
                message: Commitment revoked
                commitment: a1b2c3d4...
                status: revoked
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/zkp/active-count:
    get:
      summary: Count active commitments
      description: Return the number of currently active (non-revoked, non-expired) commitments.
      operationId: getActiveCommitmentCount
      tags:
        - ZKP
      responses:
        '200':
          description: Active commitment count
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
              example:
                count: 42
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ─── Drift (Anti-Drift Vault) ───────────────────────────────────────────────
  /v1/drift/{agent_id}/health-ping:
    post:
      summary: Submit health ping
      description: |
        Submit a health ping with behavioral metrics for an agent. The drift score
        is computed against the configured baseline. If the score exceeds thresholds,
        warnings are fired and agents may be auto-revoked.

        Requires `X-Api-Key` header and optionally `X-Ping-Signature` for HMAC
        verification of the ping payload.
      operationId: submitHealthPing
      tags:
        - Drift
      parameters:
        - $ref: '#/components/parameters/AgentId'
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HealthPingRequest'
            example:
              metrics:
                response_time: 0.45
                error_rate: 0.02
                toxicity_score: 0.05
                hallucination_rate: 0.01
                request_count: 150
              request_count: 150
              period_start: '2026-02-01T11:00:00.000Z'
              period_end: '2026-02-01T12:00:00.000Z'
      responses:
        '201':
          description: Health ping recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthPingResponse'
              example:
                ping_id: 1
                agent_id: ag_1a2b3c4d5e6f
                drift_score: 0.12
                spikes: []
                status: healthy
                message: Health ping recorded
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Agent is inactive or revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/drift/{agent_id}/drift-score:
    get:
      summary: Get drift score
      description: |
        Retrieve the current drift score and trend for an agent. The score is
        a weighted average of metric deltas from baseline (0.0 = no drift, 1.0 = max drift).
      operationId: getDriftScore
      tags:
        - Drift
      parameters:
        - $ref: '#/components/parameters/AgentId'
      responses:
        '200':
          description: Current drift score
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriftScoreResponse'
              example:
                agent_id: ag_1a2b3c4d5e6f
                drift_score: 0.12
                trend: improving
                last_ping_at: '2026-02-01T12:00:00.000Z'
                status: healthy
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/drift/{agent_id}/drift-history:
    get:
      summary: Get drift history
      description: |
        Retrieve paginated drift score history for an agent.
        Supports CSV export and single-metric filtering.
      operationId: getDriftHistory
      tags:
        - Drift
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - name: limit
          in: query
          description: Maximum entries to return
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 200
        - name: offset
          in: query
          description: Number of entries to skip
          schema:
            type: integer
            default: 0
            minimum: 0
        - name: metric
          in: query
          description: Filter by a single metric name
          schema:
            type: string
        - name: format
          in: query
          description: Response format
          schema:
            type: string
            enum: [json, csv]
            default: json
      responses:
        '200':
          description: Drift score history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriftHistoryResponse'
            text/csv:
              schema:
                type: string
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/drift/{agent_id}/drift-config:
    put:
      summary: Update drift configuration
      description: |
        Configure drift thresholds, metric weights, auto-revoke behavior,
        spike sensitivity, and baseline metrics for an agent.
      operationId: updateDriftConfig
      tags:
        - Drift
      parameters:
        - $ref: '#/components/parameters/AgentId'
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriftConfigRequest'
            example:
              drift_threshold: 0.7
              warning_threshold: 0.5
              auto_revoke: true
              spike_sensitivity: 2.0
              metric_weights:
                toxicity_score: 3.0
                hallucination_rate: 2.0
                error_rate: 1.0
              baseline_metrics:
                response_time: 0.3
                error_rate: 0.01
                toxicity_score: 0.02
      responses:
        '200':
          description: Configuration updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriftConfigResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

    get:
      summary: Get drift configuration
      description: Retrieve the current drift configuration for an agent.
      operationId: getDriftConfig
      tags:
        - Drift
      parameters:
        - $ref: '#/components/parameters/AgentId'
      responses:
        '200':
          description: Drift configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriftConfigResponse'
              example:
                agent_id: ag_1a2b3c4d5e6f
                drift_threshold: 0.7
                warning_threshold: 0.5
                auto_revoke: true
                spike_sensitivity: 2.0
                metric_weights:
                  toxicity_score: 3.0
                  hallucination_rate: 2.0
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ─── Webhooks ────────────────────────────────────────────────────────────────
  /v1/webhooks:
    post:
      summary: Create webhook
      description: Create a new webhook to receive events
      operationId: createWebhook
      tags:
        - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCreateRequest'
            example:
              agent_id: ag_1a2b3c4d5e6f
              url: https://api.yourapp.com/webhooks/agentauth
              events:
                - agent.verified
                - persona.created
                - persona.updated
                - agent.drift.warning
                - agent.drift.revoked
      responses:
        '201':
          description: Webhook created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

    get:
      summary: List webhooks
      description: List all webhooks for a specific agent
      operationId: listWebhooks
      tags:
        - Webhooks
      parameters:
        - name: agent_id
          in: query
          description: Agent ID to filter webhooks
          required: true
          schema:
            type: string
            pattern: '^ag_[a-zA-Z0-9]+$'
      responses:
        '200':
          description: List of webhooks
          content:
            application/json:
              schema:
                type: object
                properties:
                  webhooks:
                    type: array
                    items:
                      $ref: '#/components/schemas/Webhook'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/webhooks/events:
    get:
      summary: List available webhook events
      description: Get a list of all available webhook event types including Soul Layer events
      operationId: listWebhookEvents
      tags:
        - Webhooks
      responses:
        '200':
          description: List of available events
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      type: string
              example:
                events:
                  - agent.registered
                  - agent.verified
                  - agent.verification_failed
                  - agent.tier_updated
                  - agent.status_updated
                  - agent.permissions_updated
                  - agent.deleted
                  - persona.created
                  - persona.updated
                  - agent.drift.warning
                  - agent.drift.revoked

  /v1/webhooks/{webhook_id}:
    get:
      summary: Get webhook details
      description: Retrieve details of a specific webhook
      operationId: getWebhook
      tags:
        - Webhooks
      parameters:
        - $ref: '#/components/parameters/WebhookId'
      responses:
        '200':
          description: Webhook details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    put:
      summary: Update webhook
      description: Update webhook URL, events, or other settings
      operationId: updateWebhook
      tags:
        - Webhooks
      parameters:
        - $ref: '#/components/parameters/WebhookId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookUpdateRequest'
      responses:
        '200':
          description: Webhook updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      summary: Delete webhook
      description: Permanently delete a webhook
      operationId: deleteWebhook
      tags:
        - Webhooks
      parameters:
        - $ref: '#/components/parameters/WebhookId'
      responses:
        '200':
          description: Webhook deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/webhooks/{webhook_id}/regenerate-secret:
    post:
      summary: Regenerate webhook secret
      description: Generate a new secret for webhook signature verification
      operationId: regenerateWebhookSecret
      tags:
        - Webhooks
      parameters:
        - $ref: '#/components/parameters/WebhookId'
      responses:
        '200':
          description: Secret regenerated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  webhook_id:
                    type: string
                  secret:
                    type: string
                  message:
                    type: string
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/webhooks/{webhook_id}/toggle:
    post:
      summary: Toggle webhook status
      description: Activate or deactivate a webhook
      operationId: toggleWebhook
      tags:
        - Webhooks
      parameters:
        - $ref: '#/components/parameters/WebhookId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - is_active
              properties:
                is_active:
                  type: boolean
            example:
              is_active: false
      responses:
        '200':
          description: Webhook toggled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/webhooks/{webhook_id}/deliveries:
    get:
      summary: Get webhook delivery history
      description: Retrieve delivery attempts and results for a webhook
      operationId: getWebhookDeliveries
      tags:
        - Webhooks
      parameters:
        - $ref: '#/components/parameters/WebhookId'
        - name: limit
          in: query
          description: Maximum number of deliveries to return
          required: false
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 100
        - name: offset
          in: query
          description: Number of deliveries to skip
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        '200':
          description: Webhook delivery history
          content:
            application/json:
              schema:
                type: object
                properties:
                  deliveries:
                    type: array
                    items:
                      $ref: '#/components/schemas/WebhookDelivery'
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

# ═══════════════════════════════════════════════════════════════════════════════
# Components
# ═══════════════════════════════════════════════════════════════════════════════
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: Agent API key

  parameters:
    AgentId:
      name: agent_id
      in: path
      description: Unique agent identifier
      required: true
      schema:
        type: string
        pattern: '^ag_[a-zA-Z0-9]+$'
      example: ag_1a2b3c4d5e6f

    WebhookId:
      name: webhook_id
      in: path
      description: Unique webhook identifier
      required: true
      schema:
        type: string
        pattern: '^wh_[a-zA-Z0-9]+$'
      example: wh_1a2b3c4d5e6f

  headers:
    X-RateLimit-Limit:
      description: Maximum number of requests allowed in the current window
      schema:
        type: integer
      example: 10

    X-RateLimit-Remaining:
      description: Number of requests remaining in the current window
      schema:
        type: integer
      example: 7

    X-RateLimit-Reset:
      description: Unix timestamp when the rate limit resets
      schema:
        type: integer
      example: 1738329600

  schemas:
    # ─── Core Schemas ────────────────────────────────────────────────────────
    HealthResponse:
      type: object
      required: [status, service, version, timestamp, checks]
      properties:
        status:
          type: string
          enum: [healthy, degraded, unhealthy]
        service:
          type: string
        version:
          type: string
        timestamp:
          type: string
          format: date-time
        checks:
          type: object
          properties:
            database:
              type: string
              enum: [healthy, unhealthy, unknown]

    AgentRegistrationRequest:
      type: object
      required: [name, owner_email]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
          description: Agent name
        owner_email:
          type: string
          format: email
          description: Owner's email address
        permissions:
          type: array
          items:
            type: string
          description: Permission scopes
          default: []
        tier:
          type: string
          enum: [free, pro, enterprise]
          default: free

    AgentRegistrationResponse:
      type: object
      required: [agent_id, name, owner_email, api_key, tier, permissions, created_at]
      properties:
        agent_id:
          type: string
        name:
          type: string
        owner_email:
          type: string
          format: email
        api_key:
          type: string
          description: API key (only shown once)
        tier:
          type: string
          enum: [free, pro, enterprise]
        permissions:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time

    AgentVerificationRequest:
      type: object
      required: [agent_id, api_key]
      properties:
        agent_id:
          type: string
        api_key:
          type: string

    AgentVerificationResponse:
      type: object
      required: [valid]
      properties:
        valid:
          type: boolean
        agent_id:
          type: string
        name:
          type: string
        tier:
          type: string
          enum: [free, pro, enterprise]
        permissions:
          type: array
          items:
            type: string
        status:
          type: string
          enum: [active, inactive, suspended]
        error:
          type: string

    Agent:
      type: object
      required: [agent_id, name, owner_email, tier, status, created_at]
      properties:
        agent_id:
          type: string
        name:
          type: string
        owner_email:
          type: string
          format: email
        tier:
          type: string
          enum: [free, pro, enterprise]
        permissions:
          type: array
          items:
            type: string
        status:
          type: string
          enum: [active, inactive, suspended, revoked]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    AgentListResponse:
      type: object
      required: [agents, total, limit, offset]
      properties:
        agents:
          type: array
          items:
            $ref: '#/components/schemas/Agent'
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer

    ActivityLog:
      type: object
      required: [id, agent_id, success, timestamp]
      properties:
        id:
          type: string
        agent_id:
          type: string
        success:
          type: boolean
        reason:
          type: string
        ip_address:
          type: string
        timestamp:
          type: string
          format: date-time

    # ─── Persona Schemas ─────────────────────────────────────────────────────
    PersonaObject:
      type: object
      required: [version]
      description: |
        The persona definition — an agent's "digital soul". Max size 10KB.
        See [Persona Schema Reference](/docs/persona-schema) for full details.
      properties:
        version:
          type: string
          description: Semantic version (e.g. "1.0.0")
          pattern: '^\d+\.\d+\.\d+.*$'
        personality:
          type: object
          properties:
            traits:
              type: object
              description: Key-value pairs. Numbers must be 0-1; strings must be from the allowed traits list.
              additionalProperties:
                oneOf:
                  - type: number
                    minimum: 0
                    maximum: 1
                  - type: string
            assistantAxis:
              type: array
              items:
                type: object
            neuralVectors:
              type: object
        guardrails:
          type: object
          properties:
            toxicity_threshold:
              type: number
              minimum: 0
              maximum: 1
            hallucination_tolerance:
              type: string
              enum: [strict, moderate, lenient]
            source_citation_required:
              type: boolean
        constraints:
          type: object
          properties:
            forbidden_topics:
              type: array
              items:
                type: string
            required_disclaimers:
              type: array
              items:
                type: string
            allowed_actions:
              type: array
              items:
                type: string
            blocked_actions:
              type: array
              items:
                type: string
            max_response_length:
              type: integer
              minimum: 1
      additionalProperties: true

    PersonaRegistrationRequest:
      type: object
      required: [persona]
      properties:
        persona:
          $ref: '#/components/schemas/PersonaObject'

    PersonaResponse:
      type: object
      properties:
        agent_id:
          type: string
        persona_version:
          type: string
        persona_hash:
          type: string
          description: HMAC-SHA256 hex digest (64 chars)
        created_at:
          type: string
          format: date-time

    PersonaFullResponse:
      type: object
      properties:
        agent_id:
          type: string
        persona:
          $ref: '#/components/schemas/PersonaObject'
        persona_version:
          type: string
        persona_hash:
          type: string
        prompt:
          type: string
          description: Auto-generated system prompt (only with include_prompt=true)

    PersonaVerifyResponse:
      type: object
      required: [valid, reason]
      properties:
        valid:
          type: boolean
        reason:
          type: string
        agent_id:
          type: string
        persona_version:
          type: string

    PersonaHistoryEntry:
      type: object
      properties:
        id:
          type: integer
        persona_version:
          type: string
        persona_hash:
          type: string
        changed_at:
          type: string
          format: date-time

    PersonaHistoryResponse:
      type: object
      properties:
        history:
          type: array
          items:
            $ref: '#/components/schemas/PersonaHistoryEntry'
        total:
          type: integer

    # ─── ZKP Schemas ─────────────────────────────────────────────────────────
    CommitmentRegistrationRequest:
      type: object
      required: [agent_id, api_key]
      properties:
        agent_id:
          type: string
        api_key:
          type: string
        expires_in:
          type: integer
          minimum: 1
          description: TTL in seconds (optional)

    CommitmentRegistrationResponse:
      type: object
      properties:
        commitment:
          type: string
          description: 64-char hex SHA-256 commitment
        salt:
          type: string
          description: 64-char hex random salt (shown once)
        expires_at:
          type: string
          format: date-time
          nullable: true
        message:
          type: string

    Groth16Proof:
      type: object
      required: [pi_a, pi_b, pi_c]
      description: Groth16 zero-knowledge proof
      properties:
        pi_a:
          type: array
          items:
            type: string
        pi_b:
          type: array
          items:
            type: array
            items:
              type: string
        pi_c:
          type: array
          items:
            type: string
        protocol:
          type: string
          enum: [groth16]
        curve:
          type: string
          enum: [bn128, bls12381]

    ZKPVerificationRequest:
      type: object
      required: [commitment, proof, publicSignals]
      properties:
        commitment:
          type: string
          pattern: '^[0-9a-f]{64,256}$'
        proof:
          $ref: '#/components/schemas/Groth16Proof'
        publicSignals:
          type: array
          items:
            type: string
          description: First element must equal the commitment

    HashVerificationRequest:
      type: object
      required: [commitment, preimage_hash]
      properties:
        commitment:
          type: string
          pattern: '^[0-9a-f]{64,256}$'
        preimage_hash:
          type: string
          description: SHA-256 of "agentId:apiKey:salt"

    AnonymousVerificationResponse:
      type: object
      required: [valid, reason]
      properties:
        valid:
          type: boolean
        reason:
          type: string
        permissions:
          type: array
          items:
            type: string
          description: Agent permissions (only if valid)
        tier:
          type: string
          description: Agent tier (only if valid)

    # ─── Drift Schemas ───────────────────────────────────────────────────────
    HealthPingRequest:
      type: object
      required: [metrics]
      properties:
        metrics:
          type: object
          additionalProperties:
            type: number
          description: Key-value behavioral metrics (all values must be finite numbers)
        request_count:
          type: integer
          minimum: 1
        period_start:
          type: string
          format: date-time
        period_end:
          type: string
          format: date-time

    HealthPingResponse:
      type: object
      properties:
        ping_id:
          type: integer
        agent_id:
          type: string
        drift_score:
          type: number
          minimum: 0
          maximum: 1
        spikes:
          type: array
          items:
            type: string
          description: Metric names that spiked anomalously
        status:
          type: string
          enum: [healthy, warning, revoked]
        message:
          type: string

    DriftScoreResponse:
      type: object
      properties:
        agent_id:
          type: string
        drift_score:
          type: number
          nullable: true
          minimum: 0
          maximum: 1
        trend:
          type: string
          enum: [improving, stable, worsening]
          nullable: true
        last_ping_at:
          type: string
          format: date-time
          nullable: true
        status:
          type: string
          enum: [healthy, warning, critical]

    DriftHistoryResponse:
      type: object
      properties:
        history:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              drift_score:
                type: number
              metrics:
                type: object
              spikes:
                type: array
                items:
                  type: string
              created_at:
                type: string
                format: date-time
        total:
          type: integer

    DriftConfigRequest:
      type: object
      properties:
        drift_threshold:
          type: number
          minimum: 0
          maximum: 1
          description: Score above which agent is considered drifted
        warning_threshold:
          type: number
          minimum: 0
          maximum: 1
          description: Score above which a warning webhook fires (must be < drift_threshold)
        auto_revoke:
          type: boolean
          description: Auto-revoke agent when drift exceeds threshold
        spike_sensitivity:
          type: number
          minimum: 0
          exclusiveMinimum: true
          description: Standard deviations for spike detection (default 2.0)
        metric_weights:
          type: object
          additionalProperties:
            type: number
            minimum: 0
          description: Per-metric weights for drift score calculation
        baseline_metrics:
          type: object
          additionalProperties:
            type: number
          description: Expected baseline metric values

    DriftConfigResponse:
      type: object
      properties:
        agent_id:
          type: string
        drift_threshold:
          type: number
        warning_threshold:
          type: number
        auto_revoke:
          type: boolean
        spike_sensitivity:
          type: number
        metric_weights:
          type: object
        baseline_metrics:
          type: object
        updated_at:
          type: string
          format: date-time

    # ─── Webhook Schemas ─────────────────────────────────────────────────────
    WebhookCreateRequest:
      type: object
      required: [agent_id, url, events]
      properties:
        agent_id:
          type: string
          pattern: '^ag_[a-zA-Z0-9]+$'
        url:
          type: string
          format: uri
          description: HTTPS URL to receive webhook events
        events:
          type: array
          items:
            type: string
          minItems: 1
          description: Event types to subscribe to

    WebhookUpdateRequest:
      type: object
      properties:
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
          minItems: 1

    Webhook:
      type: object
      required: [id, agent_id, url, events, is_active, created_at]
      properties:
        id:
          type: string
        agent_id:
          type: string
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
        secret:
          type: string
          description: Webhook secret (only shown on creation/regeneration)
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    WebhookDelivery:
      type: object
      required: [id, webhook_id, event, status, timestamp]
      properties:
        id:
          type: string
        webhook_id:
          type: string
        event:
          type: string
        status:
          type: string
          enum: [success, failed, pending]
        status_code:
          type: integer
        response_time_ms:
          type: integer
        error:
          type: string
        timestamp:
          type: string
          format: date-time

    # ─── Error Schema ────────────────────────────────────────────────────────
    Error:
      type: object
      required: [error, message]
      properties:
        error:
          type: string
        message:
          type: string
        details:
          type: array
          items:
            type: object

  responses:
    BadRequest:
      description: Bad request - validation failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Validation failed
            message: Invalid input data
            details:
              - field: email
                message: Must be a valid email address

    Unauthorized:
      description: Unauthorized - invalid credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Unauthorized
            message: Invalid agent credentials

    Forbidden:
      description: Forbidden - insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Forbidden
            message: Insufficient permissions to perform this action

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Not Found
            message: Resource not found

    RateLimitExceeded:
      description: Rate limit exceeded
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/X-RateLimit-Limit'
        X-RateLimit-Remaining:
          schema:
            type: integer
            example: 0
        X-RateLimit-Reset:
          $ref: '#/components/headers/X-RateLimit-Reset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Rate Limit Exceeded
            message: Too many requests. Please try again later.

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Internal Server Error
            message: An unexpected error occurred
